@import 'vars';
@import 'fonts';
@import 'global';


.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 122px;
	@include sf-bold;
}

.menu__item {
	display: inline-block;

	&+& {
		padding-left: 50px;
	}
}

.header__box {
	display: flex;
}

.header__adress {
	margin-right: 60px;
	width: 265px;
	padding-left: 30px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		background-image: url(../images/adress-icon.svg);
		width: 30px;
		height: 30px;
		left: 0;
		top: -10px;
	}
}

.user-list {
	margin-right: 15px;
	display: flex;
	align-items: center;

	&__item {
		padding-right: 10px;
	}
}

.basket {
	position: relative;

	&__num {
		position: absolute;
		@include sf-medium;
		font-size: 10px;
		line-height: 20px;
		color: #fff;
		background-color: $blue;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		text-align: center;
		bottom: -4px;
		right: -14px;
	}
}

.header__bottom {
	margin-bottom: 80px;
}

.menu-categories {
	background-color: $bg-gray;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 53px;

	&__item {
		position: relative;
	}

	&__link {
		transition: all .3s;
		padding: 15px 0 14px;
		position: relative;
		&::before {
			content: '';
			width: 0;
			left: auto;
			bottom: -2px;
			right: 0;
			position: absolute;
			background-color: $blue;
			height: 3px;
			transition: all .3s;
		}

		&:hover {
			color: #000;

			&::before {
				width: 100%;
				right: auto;
				left: 0;
			}
		}
	}
}


//start banner-slider

.banner-section{
	&__inner{
		display: flex;
		justify-content: space-between;		
	}
	&__slider{
		max-width: 870px;		
	}
	&__slider-img{
		object-fit: cover;
		min-height: 400px;
	}
}
.banner-section__slider-btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	z-index: 5;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.banner-section__slider-btnprev{
	left: 20px;
}
.banner-section__slider-btnnext{
	right: 20px;
}
.slick-dots{
	position: absolute;
	bottom: 40px;	
	left: 0;
	right: 0;
	text-align: center;
	li{
		display: inline-block;
		padding: 0 5px;
	}
	button{
		padding: 0;
		margin: 0;
		font-size: 0;
		width: 11px;
		height: 11px;
		border: 1px solid #fff;
		border-radius: 50%;
		background-color: transparent;
		outline: none;
	}
}
.slick-active{
	button{
		background-color: #fff;
	}
}
.sale-item{
	max-width: 265px;
	text-align: center;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__top{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__info{
		color: #fff;
		text-transform: uppercase;
		background-color: $blue;
		padding: 8px 20px;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.1em;
	}
	&__price{
		text-align: right;
		@include barlow;
	}
	&__price-new{
		font-weight: 700;
		color: $blue;
		font-size: 27px;
		line-height: 32px;
		margin-right: 6px;
		padding-right: 20px;	
		&::after{
			content: '';
			position: absolute;
			right: 0;
			top: 8px;			
			width: 15px;
			height: 18px;
			background-image: url('../images/icons-price.svg');			
		}
	}
	&__price-old{
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $text-gray;
		margin-right: 15px;
		background-image: url('../images/oldline.svg');
		display: inline-block;
		padding: 2px 5px;
		background-repeat: no-repeat;
		&::after{
			content: '';
			position: absolute;
			right: -10px;
			top: 4px;			
			width: 8px;
			height: 10px;
			background-image: url('../images/icons-priceold.svg');
		}
	}
	&__img{
		object-fit: contain;
	}
	&__title{
		font-size: 18px;
		line-height: 21px;
		@include sf-bold;
		margin-bottom: 7px;
	}
	&__footer{
		background-color: $bg-gray;
		padding: 25px 20px;
		font-size: 18px;
		line-height: 21px;		
		span{
			display: block;
			color: $blue;
			@include barlow;
			font-weight: 700;
		}
	}
}
//end banner-slider

//start tabs
.search__tabs{
	margin-bottom: 25px;
}
.search__tabs-item{
	padding: 11px 26px 12px;
}
.search__tabs-item--active{
	border-radius: 5px;
	background-color: $bg-gray;
	@include sf-bold;
}
.search__content-item{
	display: none;
}
.search__content-item--active{
	display: block;
}
.search__content-form{
	display: flex;
}
.search__content-input{
	background-color: $bg-gray;
	border: none;
	padding: 5px 20px; 
	border-radius: 3px;
	width: 100%;
	font-size: 16px;
	line-height: 19px;	
	&::placeholder{
		font-size: 16px;
		line-height: 19px;
		color: #656464;
	}
}
.search__content-btn{
	background-color: $blue;
	@include sf-bold;
	color: #fff;  
	border: none;
	text-transform: uppercase; 
	border-radius: 3px; 
	padding: 17px 41px;
	margin-left: -3px;
	cursor: pointer;
}
//end nabs
//start categories
.categories{
	&__inner{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;		
	}
	&__item{
		margin-bottom: 30px;		
		border: 1px solid #CDCDCD;
		border-radius: 3px;
		max-width: 370px;	
		height: 129px;	
		width: 100%;
		display: flex;
		justify-content: space-between;	
		align-items: center;	
		transition: all .3s;
		&:hover{
			box-shadow: (3px 3px 20px rgba(50, 50, 50, 0.25));
			.categories__item-title{
				color: $blue;
			}
		}
	}
	&__item-info{
		padding: 20px 20px 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	&__item-img{
		text-align: center;
		padding: 15px 10px;
		height: 100%;
		width: 100%;				
		img{
			padding: 0;
			width: 100%;
			object-fit: contain;						
		}
	}
	&__item-title{
		font-size: 23px;
		line-height: 28px;
		@include barlow;
		font-weight: 700;
		color: $text;
		transition: all .3s;
	}
	&__item-text{
		font-size: 14px;
		line-height: 17px;
		color: $text-gray;
		&::after{
			content: url('../images/link-arrow.svg');
			padding-left: 2px;
		}
	}
}
//end categories













@import 'media';